@page "{id}"
@model RazorPages1.Pages.Alumnos.DeleteModel
@{
}
<h1>Confirmacion de borrado de @Model.Alumno.Nombre</h1>
<div class="alert alert-danger">
	<form method="post">
		<input type="hidden" asp-for="Alumno.Id" />
		<p>¿Está seguro que desea borrar este alumno?</p>
		<button type="submit" class="btn btn-danger">Borrar</button>
		<a asp-page="/Alumnos/Index" class="btn btn-secondary">Cancelar</a>
	</form>
</div>