@page
@model RazorPages1.Pages.Alumnos.IndexModel
@{
}

<h1>Alumnos</h1>
<h3>@Model.Alumnos.Count()</h3>
<div class="row">
    @foreach (var alumno in Model.Alumnos)
    {
        var photo = "/images/" + (alumno.Foto ?? "noimage.jpg");

        <div class="col-4">
            <div class="card m-3" style="min-width: 18rem; max-width: 30.5%">

                <div class="card-header text-center">

                    <h3>@alumno.Nombre</h3>

                </div>

                <img class="card-img-top imageThumbail" asp-append-version="true" src="@photo" />

                <div class="card-footer text-center">

                    <a asp-page="/Alumnos/Details" asp-route-ID="@alumno.Id" class="btn btn-primary p-1">View</a>
                    <a asp-page="#" class="btn btn-warning p-1">Edit</a>
                    <a asp-page="#" class="btn btn-danger p-1">Delete</a>

                </div>

            </div>
        </div>
    }
</div>

