@page
@model RazorPages25.Pages.Alumnos.DeleteModel
@{
}
<h1>Confirmación de borrado</h1>
<div class="alert alert-danger">
	<h5>Estás seguro de que quieres eliminar al alumno - @Model.alumno.Nombre</h5>
	<form method="post">
		<button type="submit" class="btn btn-danger">Sí</button>
		<a asp-page="/Alumnos/Index" class="btn btn-primary">No</a>
	</form>
</div>